body {
	background-color:#000;
}

#leftUnder{
	margin-top: 5px;
}

.block {
clear: both;
}

.ui-accordion-header.s0 .ui-icon {
 width: 16px; height: 16px; background-image: url(jquery_ui/css/ui-darkness/images/ui-icons_ffffff_256x240.png);
background-position: -48px -144px;
}
.ui-accordion-header.s1 .ui-icon {
width: 16px; height: 16px; background-image: url(jquery_ui/css/ui-darkness/images/ui-icons_4b8e0b_256x240.png);
background-position: -64px -144px;

}
.ui-accordion-header.s2 .ui-icon {
    width: 16px; height: 16px; background-image: url(jquery_ui/css/ui-darkness/images/ui-icons_a83300_256x240.png);
background-position: -80px -128px;
}

.timeset{

	float: right;
    background-color:#000;
    width:38%;
    height:270px;
    position:relative;
	z-index:0;
    font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
    color:#000;
    letter-spacing:-1px;
    overflow:hidden;

}
img.bg{
    position:absolute;
    top:0px;
    left:0px;
}
.timeset ul{
    list-style:none;
    position:absolute;
    right:0px;
    top:0px;
    margin-top:50px;
    z-index:0;
}
.timeset ul li{
    display:block;
    float:left;
    clear:both;
    width:150px;
}
.timeset ul li a{
    width:140px;
    float:right;
    clear:both;
    padding-left:10px;
    text-decoration:none;
    display:block;
    height:21px;
    line-height:21px;
    background-color:#222;
    margin:1px -20px 1px 0px;
    color:#f0f0f0;
    font-size:20px;
    border:2px solid #000;
    border-right:none;
    outline:none;
    text-shadow:-1px 1px 1px #000;
    -moz-border-radius:10px 0px 0px 20px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-bottom-left-radius:20px;
    border-top-left-radius:10px;
    border-bottom-left-radius:20px;
}
.timeset ul li a:hover{
      text-shadow:0px 0px 2px #fff;
}

.overmouse{
	border: 1px solid black;
	border-color: black;
	width: 12.5%;
	background-color:white;
	color:black;
	padding: 1px;
}

.clicked{
	border: 1px solid grey;
	border-color: grey;
	width: 12.5%;
	background-color:#AAA;
	color:black;
	padding: 1px;
}

#calendar{
margin-left: 10px;
margin-top: 15px;
float: left;
}

#head{
text-align: center;
height: 15px;
margin-top: 5px;
margin-left: 10px;
color:#f0f0f0;
font-size:20px;
}

#timeset{
float: right;
background-color:#444444;
}
#timeset a{
color:#fff;
  text-decoration:none;
}


.bord{
	width: 12.5%;
}



.loading{
	color: white;
	text-align: center;
	font: 12px Calibri bold;
	float:left;
}

.numAud{
	width: 12%;
	float: left;
	background-color:#CCC;
	color: black;
	text-align: center;
	font: 12px Calibri bold;
	border: 1px solid #888;
}

.newStage{
	width: 100%;
	clear: left;
	background-color:#333;
	color: white;
	text-align: center;
	font: 12px Calibri bold;
	border: 1px solid white;
}

.oneWarrior{
}

#ramka {
float: left;
z-index: 4;
top: 0px;
height: 100px;
width: 59%;
margin: 0;
}

ul.tabs {
	position: absolute;
	width: 60%;
	float: left;
	display:table;
	padding: 0;
	height: 26px;
	line-height: 25px;
	list-style: none;
	z-index: 99;
	margin-top: 0px;
	background-color:#222;
}
#last {
width: 15%;
border-right: none;
}
.tabs li {

	text-align: center;
	float: left;
	display:table-cell;
	width:17%;
	margin: 0 0 -2px;;
	padding: 0;
	color: #777;
	cursor: pointer;
	background: #F9F9F9;
	background-color:#242424;
	border:none;
	//border: 1px solid #E4E4E4;
	border-left: none;
	border-top: none;
	border-bottom: none;
	position: relative;
}
.tabs li a {
display:block;
 font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
 letter-spacing:-1px;
color: #FFF;
 text-shadow:-1px 1px 1px #000;
text-decoration: none;
}
.tabs li:hover{
text-shadow:0px 0px 2px #fff;
background-color: #8c8c8c;
}
.tabs li.current {
	color: #444;
	background: #ff7518;
	padding: 0;
	border:none;
//	border: 1px solid #E4E4E4;
//	border-bottom: 1px solid #EFEFEF;
}

.imap {
position: absolute;
margin-top: 45px;
left: 10px;
padding: 0;
width: 58%;
}

.shade{
	position: absolute;
	left: 10px;
	margin-top: 45px;
	padding: 0;
	width: 58%;
	z-index: 2;
}

.hide{
	z-index: 1;
}

.show{
	z-index: 3;
}


.t_ajax_info{
	color: white;
	border-collapse: collapse;
	border: 1px solid white;
	border-spacing: 0px;
}
.reserv {
	float: right;
    background-color:#000;
    width:38%;
	border-top: none;
}
#t_ajax_prepInfo {
	width:50%;
}
#t_ajax_audInfo {
	
}
.aud_busy_t{
	background-color:#FF957A;
}
.aud_busy_f{
	background-color:#BBB;
}
.aud_reserv_t{
	background-color:#9c9cff;
}
.aud_reserv_f {
	background-color:#EEE;
}
.aud_free_t{
	background-color:#D8F781;
}
.aud_free_f{
	background-color:#EEE;
}
.accept {
color: green;
}
.decline {
color: #EE1C23;
}
.wait {
color: yellow;
}
.comment{
color: orange;
}


#adminMenu {
	width: 100%;
	clear: left;
}
.appBlock {
	float: left;
	border-right: 2px solid #777;
	width: 40%;
	width-max: 400px;
	padding: 10px;
}
.appInfo {
	float: left;
	width: 50%;
}
.appDiscription {
	float: left;
	width: 50%;
}
.acceptBlock {
	float: left;
	width: 50%;
	padding: 10px;
}
.acceptDiscription {
	width: 50%;
}
.acceptButtons {
	width: 50%;
}
.pStress {
	text-decoration: underline;
}


#authorization {
	position:relative;
	margin: 0 auto;
	margin-top: 10%;
	width: 300px;
}
#inputForm {
	margin: 0 auto;
	width: 220px;
	position:relative;
	color: white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 0px;
	font-family: sans-serif;
}
.inputLP#login {
	position: absolute;
	top: -3px; 
    left: 60px;
}
.inputLP#pass {
	position: absolute;
	top: 35px; 
    left: 60px;
}
#guestChecker {
	position: absolute;
	top: 76px; 
    left: 60px;
}
#btnEnt {
	margin-left: 65px;
}
#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 9999;
	color: #FFF;
}
.loadShow {
	visibility: visible;
}
.loadHide {
	visibility: hidden;
}
.adminHead {
	position: relative;
}
#btnExit {
	position: absolute;
	right: 0px;
	top: 10px;
}

#logoUser {
	position: absolute;
	top: 50%;
	left: 30%;
	z-index: 999;
}