body {
	background: #000;
	color: #EEE;
	font: normal 100% Segoe UI, Arial, sans-serif; 
}

#rightBar {
	float: right;
}
#header {
}
#header img {
	height: 30px;
}
#header form {
	float: right;
}
#header p {
	float: right;
	margin: 0;
	margin-top: 3px;
}
#calendarAndTime {
	
}

#searchOptions {
	margin-top: 5px;
}
#userOrders {
	
}


#maps {
	margin-right: 455px;
}
#floorSelector {
}
#floorPlans {
	position: relative;
	background: #888;
}
.imap {
	position: absolute;
	margin: 20px;
	margin-top: 5px;
}
#shadeSVG {
	position: absolute;
	margin: 20px;
	margin-top: 5px;
}

#downhall {
	clear: right;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 1;
	bottom: 0;
	left: 0;
}

#menuOfIndividualSheduleAndEvent {
	display: none;
}